*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

body{
   display: flex;
}
.banner{
   
   display: flex;
   width: 400px;
   height: 300px;
   background-size: cover;
   flex-direction: column;
   justify-content: flex-end;
   margin: 25px;
   align-items: center;
   
}

p {
   color: rgb(13, 13, 13);
   font-weight: bold;
   font-size: 1.5rem;
}